---
interface Props {
  title: string;
  parrafo: string;
  subtitle: string;
}

const { subtitle, title, parrafo } = Astro.props;
---

<div
  class="relative rounded-lg bg-white p-10 shadow-[0_35px_60px_-25px_rgba(0,0,0,0.3)]"
>
  <p class="leading-8">
    {parrafo}
  </p>

  <div class="flex flex-col justify-between">
    <h6 class="pt-3 font-semibold">{title}</h6>
    <p class="text-primary">{subtitle}</p>
    <div class="absolute bottom-10 right-10">
      <span
        class="gradient icon-[bxs--quote-right] size-14 from-secondary-light to-secondary-dark"
      ></span>
      <!-- <span class="icon-[ph--quotes-bold] size-14 text-secondary"></span> -->
      <!-- <span class="icon-[gravity-ui--quote-close] size-14 text-secondary"> -->
    </div>
  </div>
  <div
    class="gradient absolute bottom-0 right-0 flex translate-y-7 rounded-lg bg-primary p-3 px-8"
  >
    <span class="icon-[ic--sharp-star] size-5 text-white"></span>
    <span class="icon-[ic--sharp-star] size-5 text-white"></span>
    <span class="icon-[ic--sharp-star] size-5 text-white"></span>
    <span class="icon-[ic--sharp-star] size-5 text-white"></span>
    <span class="icon-[ic--sharp-star-half] size-5 text-white"></span>
  </div>
</div>
