---
interface Props {
  title: string;
  p: string;
  img: string;
}

const { title, p, img } = Astro.props;
---

<div class="flex h-full flex-col justify-center">
  <div class="group relative rounded-t-md">
    <div class="relative overflow-hidden rounded-t-md">
      <img
        src={img}
        alt=""
        class="duration w-full rounded-t-md duration-500 group-hover:scale-105"
      />
      <div
        class="duration absolute z-10 flex h-full w-full -translate-y-[140%] items-center justify-center rounded-t-md bg-gray-900 bg-opacity-0 duration-500 group-hover:-translate-y-full group-hover:bg-opacity-50"
      >
        <span
          class="duration icon-[mingcute--add-fill] size-6 text-primary opacity-0 duration-500 group-hover:opacity-100"
        ></span>
      </div>
    </div>
    <button
      class="gradient absolute end-4 z-20 flex -translate-y-1/2 flex-col items-center justify-center rounded-md bg-primary p-4 py-5 font-semibold leading-3 text-white transition-all duration-500 group-hover:-translate-y-2/3"
    >
      20 <span class="text-xs">May</span>
    </button>
  </div>
  <div class="h-full bg-white px-10">
    <div class="flex gap-5 py-5 text-xs font-semibold">
      <p
        class="flex cursor-pointer items-center gap-3 transition-all duration-300 hover:text-primary"
      >
        <span class="icon-[bi--people] text-primary"></span> Por admin
      </p>
      <p
        class="flex cursor-pointer items-center gap-3 transition-all duration-300 hover:text-primary"
      >
        <span class="icon-[vaadin--comments-o] text-primary transition-all"
        ></span>
        2 comentarios
      </p>
    </div>
    <div class="h-full pb-5">
      <h6
        class="p cursor-pointer font-bold text-gray-900 transition-all duration-300 hover:text-primary"
      >
        {title}
      </h6>
      <p class="py-5 leading-8">
        {p}
      </p>
      <a
        href="#"
        class="group flex items-center justify-between border-t-2 pt-3 transition-all"
      >
        <button class="duration-300 group-hover:text-primary">leer más</button>
        <div class="transition-all duration-300 group-hover:translate-x-1">
          <span
            class="icon-[maki--arrow] cursor-pointer duration-300 group-hover:text-primary"
          ></span>
        </div>
      </a>
    </div>
  </div>
</div>
