---
interface Props {
  p?: string;
  img: string;
  href?: string;
}

const {
  img,
  href = "#",
  p = "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
} = Astro.props;
---

<div class="flex items-center gap-2">
  <div
    class="aspect-h-[0.25] aspect-w-[0.9] h-16 w-full bg-cover bg-center"
    style={`background-image: url(${img});`}
  >
  </div>
  <div class="flex flex-col gap-2 *:text-[13px] *:leading-4">
    <p>{p}</p>
    <a
      class="group inline-flex items-center gap-x-2 text-sm font-medium text-primary decoration-2 hover:underline focus:underline focus:outline-none"
      href={href}
    >
      Leer más

      <span
        class="icon-[lucide--arrow-right] size-4 shrink-0 transition group-hover:translate-x-0.5"
      ></span>
    </a>
  </div>
</div>
