<section>
  <div class="container grid grid-cols-1 gap-20 py-20 lg:flex">
    <div class="lg:w-[45%]">
      <div
        class="relative size-full min-h-96 rounded-md bg-[url(daniel-sauras/images-with-background/foto-1.jpeg)] bg-cover bg-center"
      >
        <div class="absolute bottom-0 right-0 translate-x-10">
          <img
            src="daniel-sauras/images-with-background/foto-6.jpeg"
            alt=""
            class="h-32 bg-white p-2 pb-0 lg:h-52"
          />
        </div>
        <div
          class="absolute left-0 top-0 flex -translate-x-5 -translate-y-5 flex-col items-center justify-center rounded-br-md rounded-tl-md bg-primary-light/70 px-5 py-10 backdrop-blur-sm"
        >
          <h2 class="text-secondary">22+</h2>
          <p class="text-gray-800">Años de <br /> experiencia</p>
        </div>
      </div>
    </div>
    <div class="lg:w-[55%]">
      <h5 class="subtitle text-primary">Sobre nosotros</h5>
      <h2 class="text-secondary">
        Creando soluciones digitales divertidas a partir de ideas de negocio
      </h2>
      <p class="py-10">
        Me especializo en diseño de interfaces, productos digitales y
        experiencia de usuario, centrándome en la creación de productos, marcas
        y sitios web.
      </p>
      <h5
        class="flex items-center gap-4 border-b border-gray-500 py-7 text-primary"
      >
        <span><span class="icon-[jam--tools] size-10 text-black"></span></span
        >Obtenga sus soluciones de tecnología de TI en unos pocos clics
      </h5>
      <div class="grid grid-cols-2 py-10">
        <ul class="list flex flex-col gap-5">
          <li>Evite estos errores</li>
          <li>Su nueva empresa</li>
          <li>Nuevas fuentes</li>
        </ul>
        <ul class="list flex flex-col gap-5">
          <li>Más allá de la norma</li>
          <li>Forja el destino</li>
          <li>Atrévete a ser diferente</li>
        </ul>
      </div>
    </div>
  </div>
</section>
