<section>
  <div class="container grid grid-cols-1 gap-20 py-20 lg:grid-cols-2">
    <div class="relative size-full">
      <div class="-z-10 size-full">
        <img src="about/about-1.jpg" alt="" class="size-full" />
      </div>
      <div class="absolute bottom-0 right-0 translate-x-10">
        <img src="about/about-2.jpg" alt="" class="bg-white p-2" />
      </div>
    </div>
    <div>
      <h5 class="subtitle text-primary">Beneficios de la empresa</h5>
      <h2 class="text-secondary">Somos más que una agencia</h2>
      <p class="py-10">
        Elija nuestros servicios para tener soluciones de software
        personalizadas para su negocio con el precio más razonable
      </p>
      <h5
        class="flex items-center gap-4 border-b border-gray-500 py-7 text-primary"
      >
        <span><span class="icon-[jam--tools] size-10 text-black"></span></span
        >Obtenga sus soluciones de tecnología de TI en unos pocos clics
      </h5>
      <div class="grid grid-cols-2 py-10">
        <ul class="list flex flex-col gap-5">
          <li>Las aplicaciones de negocio</li>
          <li>Los catalizadores revolucionarios chang</li>
          <li>Catalizadores para la fluidez</li>
        </ul>
        <ul class="list flex flex-col gap-5">
          <li>Velit esse cillum dolore eu</li>
          <li>Duis aute irue in volupte</li>
          <li>Refresing para obtener una información personal</li>
        </ul>
      </div>
    </div>
  </div>
</section>
