<section class="py-10">
    <div class="container grid grid-cols-1 lg:grid-cols-2">
        <div class="flex flex-col gap-6 px-10">
            <h6 class="subtitle">Contacta con nosotros</h6>
            <h2 class="text-gray-900">¿Trabajemos juntos?</h2>
            <p>
                Sed ut perspiciatis unde omnis natus error sit voluptatem accusa
                ntium doloremque laudantium totam rem.
            </p>
            <div class="flex flex-col gap-10">
                <div class="flex items-center gap-5">
                    <div
                        class="bg-primary p-3 px-5 py-4 transition-all hover:bg-gray-800"
                    >
                        <span class="icon-[ph--phone-fill] size-10 text-white"
                        ></span>
                    </div>
                    <div>
                        <p>¿Tienes alguna pregunta?</p>
                        <h6 class="font-semibold text-gray-900">
                            Gratis +23 (000)-9850
                        </h6>
                    </div>
                </div>
                <div class="flex items-center gap-5">
                    <div
                        class="bg-primary p-3 px-5 py-4 transition-all hover:bg-gray-800"
                    >
                        <span class="icon-[tabler--mail] size-10 text-white"
                        ></span>
                    </div>
                    <div>
                        <p>Enviar correo electrónico</p>
                        <h6 class="font-semibold text-gray-900">
                            needhelp@company.com
                        </h6>
                    </div>
                </div>
                <div class="flex items-center gap-5">
                    <div
                        class="bg-primary p-3 px-5 py-4 transition-all hover:bg-gray-800"
                    >
                        <span class="icon-[typcn--location] size-10 text-white"
                        ></span>
                    </div>
                    <div>
                        <p>Visita en cualquier momento</p>
                        <h6 class="font-semibold text-gray-900">
                            30 de la calle Dorada de Broklyn. Nueva York
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
