---
import BtnAnimated from "@components/buttons/btn-animated.astro";
---

<div class="bg-gray-100 lg:pt-32">
  <footer
    class="relative flex flex-col justify-center bg-secondary-dark lg:flex-row"
  >
    <div
      class="z-10 mx-auto flex w-full max-w-5xl flex-col justify-center gap-x-20 rounded-xl bg-white p-10 sm:flex-row lg:absolute lg:-translate-y-1/2"
    >
      <div>
        <h2 class="subtitle text-xl lg:text-3xl">Our Newsletter</h2>
        <p>Subscribe now, get the latest and update news</p>
      </div>
      <form
        class="md:shadow-[0px 15px 30px -4px rgba(16, 24, 40, 0.03)] relative my-2 flex h-auto max-w-lg flex-1 items-center justify-center gap-2 gap-y-4 rounded-full transition-all duration-500 focus-within:border-secondary md:h-16 md:flex-row"
      >
        <!-- Input -->
        <div class="relative flex w-full flex-1">
          <input
            type="email"
            id="hs-tac-input-email"
            class="peer block w-full rounded-lg border border-secondary bg-gray-50 p-4 text-sm placeholder:text-transparent autofill:pb-2 autofill:pt-6 focus:border-primary focus:pb-2 focus:pt-6 focus:outline-none focus:ring-0 disabled:pointer-events-none disabled:opacity-50 [&:not(:placeholder-shown)]:pb-2 [&:not(:placeholder-shown)]:pt-6"
            placeholder="Email"
            required
          />
          <label
            for="hs-tac-input-email"
            class="peer-focus: peer-[:not(:placeholder-shown)]: pointer-events-none absolute start-0 top-0 h-full truncate border border-transparent p-4 text-sm transition duration-100 ease-in-out peer-focus:-translate-y-1.5 peer-focus:text-xs peer-disabled:pointer-events-none peer-disabled:opacity-50 peer-[:not(:placeholder-shown)]:-translate-y-1.5 peer-[:not(:placeholder-shown)]:text-xs"
            >Email</label
          >
        </div>
        <!-- End Input -->
        <BtnAnimated title="Get Started" />
      </form>
    </div>
    <div class="container px-4 lg:pt-28">
      <div
        class="mb-16 grid -translate-y-4 grid-cols-2 gap-12 pt-10 md:grid-cols-4 lg:grid-cols-6 lg:flex-row lg:gap-16 lg:pt-16"
      >
        <div class="col-span-full lg:col-span-2">
          <!-- logo - start -->
          <div class="flex pb-3">
            <div class="mb-4 flex rounded-xl bg-gray-100 p-3 px-10 lg:-mt-2">
              <a href="/" class="inline-flex items-center" aria-label="logo">
                <!-- <img
              src="/logo/logo.png"
              alt="logo footer"
              class="mx-auto h-14 md:h-full"
            /> -->
                <img
                  draggable="false"
                  src="/logo/logotipo.png"
                  class="h-[2.5rem] md:h-[3.5rem]"
                  alt="Logo"
                />
              </a>
            </div>
          </div>

          <!-- logo - end -->

          <p class="pb-8 text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
            reiciendis!
          </p>

          <!-- social - start -->
          <div class="flex gap-6">
            <div
              class="duration gradient flex items-center rounded-md bg-primary p-2 duration-100 hover:scale-110"
            >
              <span
                class="a icon-[teenyicons--instagram-outline] flex size-5 items-center text-white hover:text-white"
              ></span>
            </div>
            <div
              class="duration gradient flex items-center rounded-md bg-primary p-2 duration-100 hover:scale-110"
            >
              <span
                class="a icon-[teenyicons--twitter-solid] flex size-5 items-center text-white hover:text-white"
              ></span>
            </div>
            <div
              class="duration gradient flex items-center rounded-md bg-primary p-2 duration-100 hover:scale-110"
            >
              <span
                class="a icon-[fa6-brands--linkedin-in] flex size-5 items-center text-white hover:text-white"
              ></span>
            </div>
            <div
              class="duration gradient flex items-center rounded-md bg-primary p-2 duration-100 hover:scale-110"
            >
              <span
                class="a icon-[bi--github] flex size-5 items-center text-white hover:text-white"
              ></span>
            </div>
          </div>
          <!-- social - end -->
        </div>

        <!-- nav - start -->
        <div>
          <div class="mb-4 font-bold uppercase tracking-widest text-primary">
            Products
          </div>

          <nav class="flex flex-col gap-4">
            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Overview</a
              >
            </div>

            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Solutions</a
              >
            </div>

            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Pricing</a
              >
            </div>

            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Customers</a
              >
            </div>
          </nav>
        </div>
        <!-- nav - end -->

        <!-- nav - start -->
        <div>
          <div class="mb-4 font-bold uppercase tracking-widest text-primary">
            COMPAÑÍA
          </div>

          <nav class="flex flex-col gap-4">
            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Acerca de</a
              >
            </div>

            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Relaciones con inversores</a
              >
            </div>

            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Empleos</a
              >
            </div>

            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Prensa</a
              >
            </div>

            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white">Blog</a
              >
            </div>
          </nav>
        </div>
        <!-- nav - end -->
        <!-- nav - start -->
        <div>
          <div class="mb-4 font-bold uppercase tracking-widest text-primary">
            APOYO
          </div>

          <nav class="flex flex-col gap-4">
            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Contacto</a
              >
            </div>

            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Documentación</a
              >
            </div>

            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Charlar</a
              >
            </div>

            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Preguntas frecuentes</a
              >
            </div>
          </nav>
        </div>
        <!-- nav - end -->

        <!-- nav - start -->
        <div>
          <div class="mb-4 font-bold uppercase tracking-widest text-primary">
            Legal
          </div>

          <nav class="flex flex-col gap-4">
            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Condiciones de servicio</a
              >
            </div>

            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >política de privacidad</a
              >
            </div>

            <div>
              <a
                href="#"
                class="a text-[15px] text-gray-100/90 hover:text-white"
                >Configuración de cookies</a
              >
            </div>
          </nav>
        </div>
        <!-- nav - end -->
      </div>

      <div class="flex w-full justify-center border-t border-secondary py-10">
        <div
          class="flex cursor-pointer justify-center text-center text-sm text-gray-100 hover:text-white"
        >
          © 2024 - Present Marketing point. All rights reserved.
        </div>
      </div>
    </div>
  </footer>
</div>
