<section class="bg-secondary-soft">
  <div class="container grid grid-cols-1 py-20 lg:grid-cols-2 lg:pb-40">
    <div
      class="flex translate-x-0 flex-col rounded-lg bg-primary py-32 pr-0 text-center lg:translate-x-10 lg:pr-10"
    >
      <h1 class="text-5xl text-white md:text-6xl">280</h1>
      <p class="py-4 text-white">PROYECTOS</p>
      <div class="grid grid-cols-1 lg:grid-cols-2">
        <div class="lg:border-r-2">
          <h2 class="text-white">+ 3,500</h2>
          <p class="text-white">COMENTARIOS DE LOS USUARIOS</p>
        </div>
        <div>
          <h2 class="text-white">100 %</h2>
          <p class="text-white">CLIENTES SATISFECHOS</p>
        </div>
      </div>
    </div>
    <div
      class="-translate-x-0 -translate-y-20 rounded-lg bg-white px-14 py-10 shadow-xl lg:-translate-x-10 lg:translate-y-20"
    >
      <div class="max-w-xs">
        <h2 class="text-black">
          <span class="text-primary">Amamos </span> lo que hasemos
        </h2>
      </div>
      <p class="py-5 pr-0 lg:pr-10">
        Lejos, muy lejos, detrás de la palabra montañas, lejos de los países
        Vokalia y Consonantia, allí viven los textos ciegos. Separados, viven en
        Bookmarksgrove justo en la costa de la Semántica, una gran Océano del
        lenguaje. Separados, viven en Bookmarksgrove. Muy, muy lejos, Detrás de
        la palabra montañas. Gran océano lingüístico. Lejos de la países Vokalia
        y Consonantia
      </p>
      <ul class="list">
        <li class="flex items-center">
          muy, muy lejos, Detrás de la palabra montañas
        </li>
        <li class="flex items-center">Gran océano lingüístico</li>
        <li class="flex items-center">
          lejos de los países Vokalia y Consonantia
        </li>
      </ul>
    </div>
  </div>
</section>
