<section
  class="bg-gray-100 bg-[url(questions/background.png)] bg-cover bg-center py-20"
>
  <div class="flex flex-col items-center py-10 pb-14">
    <h5 class="subtitle text-primary">¿Tienes alguna pregunta?</h5>
    <h2 class="text-secondary">Preguntas frecuentes</h2>
  </div>
  <div class="container grid gap-10 lg:flex">
    <div
      x-data="{
activeAccordion: 'accordion-1',
setActiveAccordion(id) {
this.activeAccordion = (this.activeAccordion == id) ? '' : id
}
}"
      class="relative mx-auto w-full space-y-5 overflow-hidden rounded-md text-sm font-normal *:w-full lg:w-1/2"
    >
      <div
        x-data="{ id: $id('accordion') }"
        :class="activeAccordion == id ? 'divide-y-2 divide-gray-100' : 'divide-none'"
        class="group cursor-pointer rounded-md bg-white py-2"
      >
        <button
          @click="setActiveAccordion(id)"
          class="flex w-full select-none items-center justify-between p-4 px-7 text-left"
        >
          <span
            :class="activeAccordion == id ? 'text-primary-dark' : 'text-gray-900'"
            class="text-base font-bold text-gray-900"
            >¿Está permitido que mi tecnología esté disponible en la tecnología?</span
          >
          <span
            class="icon-[iconamoon--arrow-down-2-duotone] size-6 duration-200 ease-out"
            :class="{ 'rotate-180 text-primary': activeAccordion==id }"></span>
        </button>
        <div x-show="activeAccordion==id" class="px-4 pt-3" x-collapse x-cloak>
          <div class="p-4 pt-0 opacity-70">
            El final de la vida es motivo de preocupación. Vestibulum leo
            ligula, vit commodo nisl Sed luctus venenatis pellentesque tincidunt
            elit
          </div>
        </div>
      </div>
      <div
        x-data="{ id: $id('accordion') }"
        :class="activeAccordion == id ? 'divide-y-2 divide-gray-100' : 'divide-none'"
        class="group cursor-pointer rounded-md bg-white py-2"
      >
        <button
          @click="setActiveAccordion(id)"
          class="flex w-full select-none items-center justify-between p-4 px-7 text-left"
        >
          <span
            :class="activeAccordion == id ? 'text-primary-dark' : 'text-gray-900'"
            class="text-base font-bold text-gray-900"
            >¿Cómo lanzar suavemente tu negocio?</span
          >
          <span
            class="icon-[iconamoon--arrow-down-2-duotone] size-6 duration-200 ease-out"
            :class="{ 'rotate-180 text-primary': activeAccordion==id }"></span>
        </button>
        <div x-show="activeAccordion==id" class="px-4 pt-3" x-collapse x-cloak>
          <div class="p-4 pt-0 opacity-70">
            El final de la vida es motivo de preocupación. Vestibulum leo
            ligula, vit commodo nisl Sed luctus venenatis pellentesque tincidunt
            elit
          </div>
        </div>
      </div>
      <div
        x-data="{ id: $id('accordion') }"
        :class="activeAccordion == id ? 'divide-y-2 divide-gray-100' : 'divide-none'"
        class="group cursor-pointer rounded-md bg-white py-2"
      >
        <button
          @click="setActiveAccordion(id)"
          class="flex w-full select-none items-center justify-between p-4 px-7 text-left"
        >
          <span
            :class="activeAccordion == id ? 'text-primary-dark' : 'text-gray-900'"
            class="text-base font-bold text-gray-900"
            >Cómo convertir visitantes en colaboradores</span
          >
          <span
            class="icon-[iconamoon--arrow-down-2-duotone] size-6 duration-200 ease-out"
            :class="{ 'rotate-180 text-primary': activeAccordion==id }"></span>
        </button>
        <div x-show="activeAccordion==id" class="px-4 pt-3" x-collapse x-cloak>
          <div class="p-4 pt-0 opacity-70">
            El final de la vida es motivo de preocupación. Vestibulum leo
            ligula, vit commodo nisl Sed luctus venenatis pellentesque tincidunt
            elit
          </div>
        </div>
      </div>
    </div>
    <div class="a grid h-[50rem] gap-5 md:flex md:h-96 lg:w-1/2">
      <div
        class="h-full rounded-md bg-[url(questions/daniel.jpeg)] bg-cover bg-center md:w-[60%]"
      >
      </div>
      <div class="flex flex-col items-center justify-center gap-5 md:w-[40%]">
        <div
          class="relative flex flex-col items-center justify-center pb-0 md:pb-3"
        >
          <div class="flex items-center justify-center">
            <span
              class="icon-[material-symbols-light--progress-activity] absolute z-10 size-32 -rotate-90 text-primary"
            ></span>
            <span
              class="icon-[material-symbols-light--circle-outline] size-32 -rotate-90 text-white"
            ></span>

            <h5 class="absolute text-primary">90%</h5>
          </div>
          <p class="font-bold text-gray-900">Costo asequible</p>
        </div>
        <hr class="mt-1 h-1 w-1/2 border-b-2" />
        <div
          class="relative flex flex-col items-center justify-center pt-0 md:pt-4"
        >
          <div class="flex items-center justify-center">
            <span
              class="icon-[material-symbols-light--progress-activity] absolute z-10 size-32 -rotate-90 text-primary"
            ></span>
            <span
              class="icon-[material-symbols-light--circle-outline] size-32 -rotate-90 text-white"
            ></span>

            <h5 class="absolute text-primary">90%</h5>
          </div>
          <p class="font-bold text-gray-900">Calidad del trabajo</p>
        </div>
      </div>
    </div>
  </div>
</section>
