---
import CardServices from "@components/cards/card-services.astro";
---

<section class="bg-primary-soft pb-32 pt-32">
  <div class="container relative space-y-5">
    <div class="z-10 mx-auto max-w-md flex-col justify-center gap-4 lg:flex">
      <div class="top-0 block size-8 rotate-90 py-10 lg:hidden">
        <img src="decoration/cornerback1.png" alt="decoracion" />
      </div>

      <div>
        <button
          class="rounded-br-lg rounded-tl-lg bg-primary p-1 px-3 text-xs tracking-widest text-white"
          >SERVICIOS</button
        >
      </div>

      <h3 class="pb-5 text-left text-secondary">
        Brindamos el mejor servicio que hace crecer su trabajo
      </h3>
      <p class="block lg:hidden">
        Una maravillosa serenidad se ha apoderado de toda mi alma, como estas
        dulces ma침anas de primavera que disfruto con todo mi coraz칩n. Un Una
        maravillosa serenidad se ha apoderado de toda mi alma, como estos dulce.
      </p>
    </div>
    <div
      class="container z-10 grid grid-cols-1 gap-20 pt-40 md:grid-cols-2 lg:grid-cols-3"
    >
      <div class="-translate-y-0 lg:-translate-y-20">
        <CardServices
          title="Servicios financieros"
          parrafo="Una maravillosa serenidad se ha apoderado de toda mi alma, como esta dulce..."
          ><span class="icon-[clarity--star-solid]"></span></CardServices
        >
      </div>
      <div class="">
        <CardServices
          title="Servicios financieros"
          parrafo="Una maravillosa serenidad se ha apoderado de toda mi alma, como esta dulce..."
          ><span class="icon-[zondicons--light-bulb] size-6"
          ></span></CardServices
        >
      </div>
      <div class="translate-y-0 lg:translate-y-20">
        <CardServices
          title="Servicios financieros"
          parrafo="Una maravillosa serenidad se ha apoderado de toda mi alma, como esta dulce..."
          ><span class="icon-[streamline--check-solid]"></span></CardServices
        >
      </div>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="105.196"
      height="108.387"
      viewBox="0 0 105.196 108.387"
      class="absolute right-5 top-80 -z-10 hidden size-20 lg:block"
    >
      <g transform="translate(-1200.003 -1832.549)">
        <path
          d="M201.431,239.86l-4.793,5.126-.037,4.187,8.77-9.274Z"
          transform="translate(1003.663 1592.689)"
          fill="#D5D5D5"></path>
        <path
          d="M218.96,239.88,196.59,263.631v4.187l26.271-27.938Z"
          transform="translate(1003.636 1592.747)"
          fill="#D5D5D5"></path>
        <path
          d="M236.516,239.89l-39.908,42.416-.037,4.187,43.847-46.564Z"
          transform="translate(1003.582 1592.776)"
          fill="#D5D5D5"></path>
        <path
          d="M254.044,239.91,196.56,300.951v4.187l61.386-65.228Z"
          transform="translate(1003.555 1592.834)"
          fill="#D5D5D5"></path>
        <path
          d="M271.6,239.92,196.54,319.626v4.187L275.5,239.959Z"
          transform="translate(1003.5 1592.864)"
          fill="#D5D5D5"></path>
        <path
          d="M289.129,239.94l-92.6,98.331v4.148l96.5-102.479Z"
          transform="translate(1003.473 1592.922)"
          fill="#D5D5D5"></path>
        <path
          d="M295.4,241.29,198.86,343.769l3.9.039,92.6-98.331Z"
          transform="translate(1009.801 1596.854)"
          fill="#D5D5D5"></path>
        <path
          d="M282.532,246.07,203.57,329.924h3.9l75.061-79.667Z"
          transform="translate(1022.593 1610.778)"
          fill="#D5D5D5"></path>
        <path
          d="M269.7,250.85,208.28,316.039l3.9.039,57.484-61.041Z"
          transform="translate(1035.385 1624.702)"
          fill="#D5D5D5"></path>
        <path
          d="M256.837,255.63,212.99,302.193h3.9l39.946-42.377Z"
          transform="translate(1048.176 1638.625)"
          fill="#D5D5D5"></path>
        <path
          d="M243.971,260.41l-26.271,27.9,3.9.039,22.37-23.751Z"
          transform="translate(1060.968 1652.549)"
          fill="#D5D5D5"></path>
        <path
          d="M231.142,265.19l-8.732,9.274h3.9l4.831-5.087Z"
          transform="translate(1073.76 1666.473)"
          fill="#D5D5D5"></path>
      </g>
    </svg>
    <div class="absolute top-0 hidden size-8 rotate-90 lg:block">
      <img src="decoration/cornerback1.png" alt="decoracion" />
    </div>
    <div class="absolute right-0 top-40 max-w-sm">
      <p class="hidden lg:block">
        Una maravillosa serenidad se ha apoderado de toda mi alma, como estas
        dulces ma침anas de primavera que disfruto con todo mi coraz칩n. Un Una
        maravillosa serenidad se ha apoderado de toda mi alma, como estos dulce.
      </p>
    </div>
  </div>
</section>
