---
import CardTestimonials from "@components/cards/card-testimonials.astro";
---

<section class="bg-gray-200 py-10">
    <div>
        <div class="flex flex-col items-center py-10">
            <h4 class="subtitle text-primary">Nuestros Testimonios</h4>
            <h2 class="text-secondary">De qué están hablando</h2>
        </div>
        <div class="container grid grid-cols-3 gap-10 py-10">
            <CardTestimonials
                parrafo="Creemos en cuatro pilares de influencia que impulsan nuestro crecimiento. Esto está arraigado en todo lo que hacemos: Utilizamos la tecnología para"
                title="Thomas Alen"
                subtitle="Kajer Lok"
            />
            <CardTestimonials
                parrafo="Creemos en cuatro pilares de influencia que impulsan nuestro crecimiento. Esto está arraigado en todo lo que hacemos: Utilizamos la tecnología para"
                title="Jack Winger"
                subtitle="Fundador"
            />
            <CardTestimonials
                parrafo="Creemos en cuatro pilares de influencia que impulsan nuestro crecimiento. Esto está arraigado en todo lo que hacemos: Utilizamos la tecnología para"
                title="Jesica Tylor"
                subtitle="Co Fundador"
            />
        </div>
    </div>
</section>
