---
import Base from "@layouts/Base.astro";

//add to your taste
---

<Base title="Change this title">
  <div class="flex h-screen flex-wrap items-end gap-10">
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
    <div class="content-center items-center bg-primary-soft">
      <div class="size-20 bg-secondary"></div>
      <div class="size-10 bg-secondary"></div>
    </div>
  </div>
</Base>
