@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-6xl px-4 sm:px-6 lg:px-8;
  }

  .large-title {
    @apply mb-4 text-3xl font-black leading-tight text-gray-900 sm:text-4xl md:text-5xl lg:text-6xl;
  }

  .title {
    @apply mb-3 text-2xl font-bold leading-snug text-gray-800 sm:text-3xl md:text-4xl lg:text-5xl;
  }

  .subtitle {
    @apply mb-3 flex items-center text-base font-semibold leading-normal text-gray-700 sm:text-lg md:text-xl lg:text-2xl;

    &:before {
      content: "//";
      @apply size-6 leading-none text-secondary;
    }
  }

  .paragraph {
    @apply text-sm font-normal leading-relaxed text-gray-600 sm:text-base md:text-base;
  }

  .duration {
    @apply transition-all duration-300;
  }

  .gradient {
    @apply bg-gradient-to-r from-primary-accent to-primary;
  }

  .list {
    @apply space-y-2 font-semibold;

    li {
      @apply flex items-center;

      &:before {
        content: "";
        @apply icon-[lets-icons--check-fill] mr-1.5 size-6 text-primary;
      }
    }
  }

  .btn {
    @apply transition-all duration-300;
    @apply bg-gradient-to-r from-primary-accent to-primary;
    @apply relative flex min-h-14 cursor-pointer items-center overflow-hidden rounded-md bg-primary px-4 py-3 text-base font-semibold text-white;

    &:hover {
      @apply bg-gradient-to-l;

      &:after {
        @apply translate-x-1.5;
      }
    }

    /* &:before {
       content: "";
       @apply transition-transform duration-200;
      @apply bg-gradient-to-r opacity-100  from-primary to-primary-accent;
       @apply absolute w-full h-full left-0 top-0 -z-[1];
     }*/
    &:after {
      content: "";
      @apply transition-transform duration-200;
      @apply icon-[mingcute--arrow-right-line] ml-2 flex size-5;
    }
  }
}

@layer base {
  h1 {
    @apply text-3xl font-black sm:text-4xl md:text-5xl lg:text-6xl;
  }

  h2 {
    @apply text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-xl font-bold sm:text-2xl md:text-3xl lg:text-4xl;
  }

  h4 {
    @apply text-lg font-medium sm:text-xl md:text-2xl lg:text-3xl;
  }

  h5 {
    @apply text-base font-medium sm:text-lg md:text-xl lg:text-2xl;
  }

  h6 {
    @apply text-sm font-medium sm:text-base md:text-lg lg:text-xl;
  }

  body {
    @apply paragraph;
  }
}

::selection {
  color: #fff;
  background: #333333;
}
.custom-shape-divider-top-1726536218 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1726536218 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 78px;
}

.custom-shape-divider-top-1726536218 .shape-fill {
  fill: #f3f4f6;
}
